[submodule "modules"]
	path = modules
	url = https://github.com/novalabs/core-modules.git
[submodule "packages"]
	path = packages
	url = https://github.com/novalabs/core-packages.git
[submodule "libs"]
	path = libs
	url = https://github.com/novalabs/core-libs.git
